@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lora', serif;
}

a span {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: #b45700;
}

li a {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav ul a:hover {
    background-color: #d36b0a;
    border-radius: 25px;
}

header {
    background-color: red;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 200px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    color: #fff;
}

.video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home_header_info h1 {
    font-size: 45px;
    padding: 20px 0px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
}

.home_header_info p {
    font-size: 15px;
    line-height: 30px;
    width: 80%;
    margin: 0 auto;
}

.home_header_info a {
    background-color: #fff;
    color: red;
    text-decoration: none;
    padding: 17px 45px;
    margin-top: 25px;
    display: inline-block;
    font-size: 14px;
    position: relative;
    overflow: hidden;
}

.home_header_info a:hover {
    color: #fff;
}

.home_header_info a:after {
    content: "Read More";
    background-color: #00a8b4;
    width: 0%;
    font-size: 15px;
    height: 100%;
    line-height: 50px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease;
    right: 0;
}

.home_header_info a:hover:after {
    width: 100%;
}

#Destinations {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/Images/desti-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px 0px;
}

#Destinations span h1 {
    color: white;
}

.inner {
    overflow: hidden;
}

.inner img {
    transition: all 1.5s ease;
}

.inner:hover img {
    transform: scale(1.5);
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

#blog {
    padding: 50px 0;
}

#blog h3 {
    color: #343a40;
    background-color: #0abfd3;
    font-size: 42px;
    font-weight: 600;
    padding: 8px 0px;
    text-align: center;
    text-transform: capitalize;
}

div#blog-par {
    display: flex;
    margin-top: 70px;
}

.blog-content {
    display: flex;
    align-items: center;
}

.blog-info ul li {
    display: inline-block;
    font-weight: 600;
    text-transform: uppercase;
    color: #999;
    font-size: 13px !important;
    font-size: 0.75rem;
    margin-right: 5px;
}

.blog-img {
    position: relative;
}

.blog-img:before {
    content: "16 March";
    position: absolute;
    right: 0;
    top: 0px;
    font-size: 17px;
    background-color: #00a8c5;
    color: #fff;
    z-index: 1;
    padding: 9px;
}

.blog-img img {
    height: 140px;
    width: 300px;
}

.blog-info {
    margin-left: 30px;
}

.blog-info h4 {
    color: #00a8c5;
    font-size: 20px;
    margin: 6px 0px;
    cursor: pointer;
}

.blog-content p {
    color: #777;
    font-size: 14px;
    line-height: 25px;
}

footer {
    border-top: 3px solid #000;
    background-color: rgb(144, 142, 142);
}

.footer-1 h2 {
    color: #b45700;
    font-size: 30px;
}

.fot-info h3 {
    color: #333;
    font-size: 25px;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.fot-info ul {
    list-style: none;
}

.fot-info ul li a {
    color: #333;
    text-decoration: none;
    padding: 5px 0px;
    display: inline-block;
    transition: all 0.6s ease;
}

.fot-info ul li a:hover {
    padding-left: 5px;
}

.copyright {
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 10px 0px;
    margin: 20px 0px 0px 0px;
}

.footer-par {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}